<div class="disc">
    <div>
        <ul>
           <li><h4> Get to Know Us</h4> </li>
           <li><a href = "../aboutus">About Us</a></li>
           <li><a href = "#">User Reviews</a></li>
           <li><a href = "../termsandconditions">Terms and Conditions</a><li>
           <li><a href = "#">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><h4> Connect With Us </h4></li>
            <li><a href = "#">FaceBook</a></li>
            <li><a href = "#">Twitter</a></li>
            <li><a href = "#">Instagram</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><h4> For Customers </h4></li>
            <li><a href = "#">HHS reviews</a></li>
            <li><a href = "#">Categories near you</a></li>
            <li><a href = "../contact">Contact Us</a></li>
        </ul>
    </div>

    <div class="discription">
      <h4>Social links</h3>
      <i class='bx bxl-facebook' style="font-size: 20px;padding:8px;border:2px solid;border-radius: 30px;margin: 5px;" ></i>  
      <i class='bx bxl-instagram' style="font-size: 20px;padding:8px;border:2px solid;border-radius: 30px;margin: 5px;"></i>
      <i class='bx bxl-twitter' style="font-size: 20px;padding:8px;border:2px solid;border-radius: 30px;margin: 5px;"></i>
    </div>
  </div>