
  <div class="container" style="display: flex;">
    <a href="/"><img src="/images/Home Hub Services-logos_black.png" alt="error in image" height="120px"
        width="120px"></a>
        <div class="navbar1">
            <a href="/" style="padding-left:30px;">Home</a>
            <div class="dropdown">
              <a href="#" class="dropbtn" style="top: 28%; margin-right: 20px;">Our Services</a>
              <div class="dropdown-content">
                <div style="display: flex;">
                <div>
                <a href="../carpentershop">Carpenter</a>
                <a href="../mobile">Mobile Repair</a>
                <a href="../painting">Painting</a>
                <a href="../homenurse">Home Nurse</a>
                <a href="../interiordesign">Interior Design</a>
                </div>
                <div>
                <a href="../electrian">Electrician</a>
                <a href="../furniture">Furniture</a>
                <a href="../plumbing">Plumbing</a>
                <a href="../babysitter">Baby Sitter</a>
                <a href="../catering">Cattering</a>
                </div>
                <div>
                <a href="../appliancess">Kitchen Appliances Repair</a>
                <a href="../spaandsalon">Spa And Saloon</a>
                <a href="../cleaning">Home Cleaning</a>
                <a href="../housekeeping">Maid</a>
                <a href="../flooringrepair">Flooring</a>
                </div>
                </div>
              </div>
            </div>
            <a href="#">User Reviews</a>
            <a href="../termsandconditions" style="width:180px; margin-left:8px;">Terms and Conditions</a>
            <a href="../aboutus" style="padding-left:20px;">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="../contact" style="margin-left:8px;">Contact Us</a>
            <a href="../rateus" style="margin-left:8px;">Rate Us</a>
          </div>
  </div>