<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/aboutcss.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="mainAboutUs">
        <div class="aboutUs">
            <h3><b>About Us</b></h3>
        </div>
        <div class="welcome">
            <p id="first">
                Welcome to <b>Home Hub Services</b> - Your Gateway to Hassle-Free Home Services! 🏡
            </p>
            <p> At <b>Home Hub Services</b> , we've reimagined the way you access and book home services. We understand that finding the right service providers for your home needs can be a daunting task. That's why we've created a seamless platform that connects you directly with skilled professionals, eliminating the hassle and uncertainty associated with traditional service searching.</p>
            <p id="second">
                <b>🤝 Connecting Customers with Quality Service Providers:</b>
            </p>

            <p>Our platform is designed to empower you to effortlessly find and book the best service providers in town. We do not provide services directly, but rather, we serve as the bridge that connects customers like you with a curated network of reliable, skilled, and vetted professionals.</p>
            <p id="third" style="margin-top:20px;"><b>🛠️ How It Works:</b></p>
            <div class="howItWorks">
                <div class="section1">
                    <h4>Browse Services</h4>
                    <hr>
                    <p>Explore a wide range of home services listed on our platform.</p>
                </div>

                <div class="section2">
                    <h4>Choose Your Provider</h4>
                    <hr>
                    <p>Select based on reviews, ratings, and service offerings.</p>
                </div>

                <div class="section3">
                    <h4>Book with Confidence</h4>
                    <hr>
                    <p>Conveniently book from our trusted professional pool. </p>
                </div>
            </div>

            <p style="text-align: center; margin-top: 20px;"><b>Why Choose Home Hub Services?</b></p>

            <div class="why">
                <div class="b1">
                    <h4>Quality Assurance</h4>
                    <hr>
                    <p> We carefully vet every service provider to meet our high standards.</p>
                </div>
                <div class="b2">
                    <h4>User-Friendly</h4>
                    <hr>
                    <p>Easy navigation, service comparison, and informed decision-making.</p>
                </div>

                <div class="b3">
                    <h4>Reviews</h4>
                    <hr>
                    <p>Real customer feedback for confident choices.</p>
                </div>

                <div class="b4">
                    <h4>Secure Booking</h4>
                    <hr>
                    <p>Your transactions are handled securely for peace of mind. 🔒</p>
                </div>

            </div>
            <p  style="margin-top:20px;">
                At <b>Home Hub Services</b>, our mission is to simplify and enhance your home service experience. We believe in giving you 
                the tools to make informed decisions and connect with service providers who genuinely care about your satisfaction.
            </p>

            <p>
                Thank you for choosing <b>Home Hub Services</b> as your trusted partner for hassle-free home services.
                 Your comfort and convenience are our top priorities!
            </p>

            <p id ="fourth">Welcome to a new era of home service excellence with<b> Home Hub Services! </b>🏠🔧 </p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>