<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert and Redirect</title>
</head>
<body>
    <script>

        alert("email already in use,please use another!");

        setTimeout(function() {
            window.location.href = "/signup"; 
        }, 100); 
    </script>
</body>
</html>