<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Password Reset</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .options-container {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        button {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: rgb(243, 234, 223);
            color: black;
        }

        button:hover {
            background-color: rgb(243, 234, 223);
        }

        #otpBtn {
            background-color: rgb(243, 234, 223);
        }

        #otpBtn:hover {
            background-color: rgb(243, 234, 223);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="options-container">
            <h2>Login and Password Options</h2>
            <button id="loginBtn"><a href="./login" style="text-decoration: none; color:black">Login</a></button>
            <button id="otpBtn" ><a href="./loginwithotp" style="text-decoration: none; color:black">Login with OTP</a></button>
            <button id="resetPasswordBtn"><a href="./updatewithotp" style="text-decoration: none; color:black">Reset Password</a></button>
        </div>
    </div>
</body>
</html>
